<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8/>
    <meta name="description" content="description">
    <title>{% block title %}{% endblock %} | PEPIC</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    {% block main %}{% endblock %}
</body>
</html>
